/* static/css/recipe_detail.css */

.recipe-detail {
    max-width: 800px;
    margin: 0 auto;
}

/* Style for the recipe title */
.recipe-header-title {
    background-color: red;
    width: 100%;
    display: inline;
}

.recipe-title {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    background-color: #45a049;
    display: inline;
    
}

.recipe-sub-title {
    font-size: 16px;
    text-align: left;
    margin-left: 15px;
    background-color: crimson;
}

/* Style for the recipe image */
.recipe-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Style for views and rating */
.recipe-stats {
}

.recipe-detail-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    height: auto;
}

/* Style for the recipe description */
.recipe-description {
    font-size: 16px;
    margin-bottom: 20px;
    background-color: blueviolet;
}

/* Style for the ingredients and instructions */
.recipe-section {
    margin-bottom: 20px;
}

/* Style for the comments section */
.comments-section {
    margin-top: 30px;
    padding-inline: 15px;
    padding-block: 5px;
    background-color: #CCC;
    height: 100%;
}

/* Style for each comment */
.comment {
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    background-color: #f4f4f4;
}

/* Style for each comment */
.reply-comment {
    margin-top: 10px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

/* Style for views and rating */
.comment-header {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: start;
    gap: 1%;
    font-size: 12px;
    height:20px
 }

 .comment-header-username {
    color:black
 }

/* Style for the comment author and timestamp */
.comment-info { 
    color: #777;
}

/* Style for view count in comments */
.toggle-replies {
    font-style: italic;
    color: #777;
    background-color: transparent;
    border: transparent;
}

.toggle-replies:hover {
    color: white;
    cursor:pointer;
}

/* Style for view count in comments */
.reply-button {
    font-style: italic;
    color: #777;
    background-color: transparent;
    border: transparent;
}

.reply-button:hover {
    color: white;
    cursor:pointer;
}

/* Style for the comment text */
.comment-text {
    font-size: 14px;
    margin: 0px;
    padding-block: 2px;
}

/* Style for the comment textfield */
.comment-text-field {
    min-width:100%;
}

/* Style for the comment form */
.comment-form {
    margin-top: 20px;
    padding-inline: 15px;
    padding-block: 5px;
    background-color: aqua;
}

/* Style for the submit button in the comment form */
.comment-submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comment-submit:hover {
    background-color: #45a049;
}

.comment-response {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.like-response {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.dislike-response {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.like-button {
   border: 0;
}

.dislike-button {
    border: 0;
}

.like-svg {
    width: 20px; 
    height: 20px;
}

.dislike-svg {
    width: 20px; 
    height: 20px;
}

.like-svg:hover {
    cursor:pointer;
}

.dislike-svg:hover {
    cursor:pointer;
}

.like-svg:hover > .like-path {
    fill: green;
}

.dislike-svg:hover > .dislike-path {
    fill: red;
}

.like-path {
    fill: currentColor;
}

.dislike-path {
    fill: currentColor;
}

