{% extends 'base.html' %}

{% block content %}
  <h2>{{ recipe.title }}</h2>

  <h3>Ingredients:</h3>
  <ul>
    {% for ingredient in recipe.ingredients %}
      <li>{{ ingredient }}</li>
    {% endfor %}
  </ul>

  <h3>Instructions:</h3>
  <ol>
    {% for step in recipe.instructions %}
      <li>{{ step }}</li>
    {% endfor %}
  </ol>
  {% if user.is_authenticated %}
    {% if user_rating %}
      <p>Your Rating: {{ user_rating.stars }} stars</p>
    {% else %}
      <p>You haven't rated this recipe yet.</p>
      <a href="{% url 'rate_recipe' recipe.id %}">Rate this recipe</a>
    {% endif %}
  {% endif %}
  <p>Average Rating: {{ recipe.average_rating }} stars</p>
{% endblock %}
