
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
  <link rel="stylesheet" href="{% static 'icons/star-empty.svg' %}">
  <link rel="stylesheet" href="{% static 'icons/star-half.svg' %}">
  <link rel="stylesheet" href="{% static 'icons/star-full.svg' %}">
  <link rel="stylesheet" href="{% static 'css/rating.css' %}">

</head>
<script src="{% static 'components/rating_stars.js' %}"></script>
<a class="recipe-card" href="{% url 'recipe_detail' recipe_id=recipe.id %}">
    <h3>{{ recipe.title }}</h3>
    <div>
        <p>Views: {{ recipe.views }}</p>
        <p>{{ recipe.average_rating }}/5</p>
        {% include 'rating_stars.html' with rating=recipe.average_rating %}
    </div>
</a>
