
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'icons/star-empty.svg' %}">
    <link rel="stylesheet" href="{% static 'icons/star-half.svg' %}">
    <link rel="stylesheet" href="{% static 'icons/star-full.svg' %}">
    <link rel="stylesheet" href="{% static 'css/rating.css' %}">
</head>
<div class="rating-section">
    <h6 class="recipe-views">Views: {{ recipe.views }}</h6>
    <div class="average-rating" data-rating-id="{{ recipe.average_rating }}">
        <h6>Average Rating: {{ recipe.average_rating }}</h6>
        <span class="str" id="average-rating" data-rating-id="{{ recipe.average_rating }}"></span>
    </div>
    {% if user.is_authenticated %}
        {% if user_rating %}
        <div class="user-rating" data-rating-id="{{ user_rating.stars }}">
            <h6>How you Rated It: {{ user_rating.stars }}</h6>
            <span class="str" id="user-rating" data-rating-id="{{ user_rating.stars }}"></span>
        </div>
        {% else %}
            <a href="{% url 'rate_recipe' recipe.id %}" class="rate-link">Rate this recipe</a>
        {% endif %}
    {% endif %}
</div>
<script>
    const averageRatingContainer = document.getElementById('average-rating');
    const averageRating = averageRatingContainer.getAttribute('data-rating-id');
    const fullStars = Math.floor(averageRating);
    const hasHalfStar = averageRating % 1 !== 0;
    const fullStarHTML = '<img class="star" src="{% static "icons/star-full.svg" %}" alt="Full Star">';
    const halfStarHTML = hasHalfStar ? '<img class="star" src="{% static "icons/star-half.svg" %}" alt="Half Star">' : '';
    const emptyStarHTML = '<img class="star" src="{% static "icons/star-empty.svg" %}" alt="Empty Star">';
    const emptyStarsCount = Math.floor(5 - averageRating);
    const starsHTML = `${fullStarHTML.repeat(fullStars)}${halfStarHTML}${emptyStarHTML.repeat(emptyStarsCount)}`;
    averageRatingContainer.innerHTML = starsHTML;

    const userRatingContainer = document.getElementById('user-rating');
    const userRating = userRatingContainer.getAttribute('data-rating-id');
    const userFullStars = Math.floor(userRating);
    const userEmptyStarsCount = Math.floor(5 - userRating);
    const userStarsHTML = `${fullStarHTML.repeat(userFullStars)}${emptyStarHTML.repeat(userEmptyStarsCount)}`;
    userRatingContainer.innerHTML = userStarsHTML;

</script>
